 * {
     margin: 0;
     padding: 0;
 }
 
 html {
     background-color: black;
 }
 
 body {
     position: relative;
     margin: 0 auto;
     width: 1377px;
     height: 768px;
     font: "微软雅黑" 12px;
     background: url(../images/index/bg.png) no-repeat;
     overflow: hidden;
 }
 
 ul,
 ol {
     list-style: none;
 }
 
 .hidden {
     display: none;
 }
 
 .earth {
     background: url(../images/index/earth.png) no-repeat;
     position: absolute;
     top: 0;
     left: 0;
     width: 1377px;
     height: 100vh;
     z-index: 1;
     opacity: 0;
 }
 
 #header {
     position: relative;
     z-index: 1;
     width: 100%;
     height: 49px;
     background: url(../images/index/index_header.png) no-repeat;
     line-height: 49px;
     opacity: 0;
 }
 
 #header .control {
     position: absolute;
     right: 220px;
     top: 15px;
     padding: 5px;
 }

 #header .next {
     position: absolute;
     right: 150px;
     top: 15px;
     padding: 5px;
 }
 
 .header_content {
     color: #44D0CD;
     font-size: 1em;
 }
 
 .header_center {
     width: 120px;
     margin: 0 auto;
     text-align: center;
     padding-top: 10px;
     font-size: 13px;
 }
 
 .header_left {
     float: left;
     margin-left: 50px;
 }
 
 .header_right {
     float: right;
     margin-right: 30px;
 }
 
 .content {
     position: relative;
     z-index: 10;
 }
 
 #menu {
     position: relative;
     /*left: 0px;*/
     width: 1277px;
     margin: 20px auto 0px;
     list-style: none;
     padding-top: 20px;
     opacity: 0;
     /*overflow: hidden;*/
     /*animation: right2left 10s linear 1s forwards;*/
 }
 
 @keyframes right2left {
     0% {
         opacity: 0.1;
         left: 100%;
     }
     25% {
         left: 80%;
         opacity: 0.3;
     }
     50% {
         left: 60%;
         opacity: 0.5;
     }
     75% {
         left: 30%;
         opacity: 0.8;
     }
     100% {
         left: 0px;
         opacity: 1;
     }
 }
 
 .menu_list {
     position: relative;
     float: left;
     width: 402px;
     height: 185px;
     background: url(../images/index/index_01.png) no-repeat;
     margin-right: 35px;
 }
 
 .menu_list2 {
     width: 257px;
     background: url(../images/index/index_02.png) no-repeat;
 }
 
 .menu_list3 {
     width: 257px;
     background: url(../images/index/index_03.png) no-repeat;
 }
 
 .menu_list4 {
     width: 256px;
     background: url(../images/index/index_04.png) no-repeat;
     margin-right: 0;
 }
 
 .menu_list>span {
     position: relative;
     left: 50%;
     color: #F7F6FB;
     font-size: 0.9em;
     margin-left: -35px;
     padding-left: 15px;
     background: url(../images/index/icons_01_13.png) no-repeat left center;
 }
 
 .menu_list2>span {
     padding-left: 20px;
     margin-left: -30px;
     background-image: url(../images/index/icons_01_19.png)
 }
 
 .menu_list3>span {
     margin-left: -30px;
     background-image: url(../images/index/icons_01_16.png)
 }
 
 .menu_list4>span {
     margin-left: -65px;
     background-image: url(../images/index/icons_01_22.png)
 }
 
 .menu_list1>div {
     position: absolute;
     color: #CEC5D8;
     font-size: 14px;
     width: 30%;
 }
 
 .menu_list1>div.content1 {
     left: 20px;
     top: 45px;
 }
 
 .menu_list1>div.content2 {
     left: 150px;
     top: 45px;
 }
 
 .menu_list1>div.content3 {
     left: 280px;
     top: 45px;
 }
 
 .menu_list1>div.content4 {
     left: 12px;
     top: 120px;
     padding-bottom: 40px;
 }
 
 .menu_list1>div.content5 {
     left: 150px;
     top: 120px;
     background: url(../images/index/icons_01_36.png) no-repeat left 30px;
 }
 
 .menu_list1>div.content6 {
     left: 280px;
     top: 120px;
     background: url(../images/index/icons_01_40.png) no-repeat left 30px;
 }
 
 .menu_list1>div>span {
     display: block;
     padding-bottom: 10px;
 }
 
 .menu_list1>div.content4>span:nth-child(2) {
     width: 45px;
     height: 25px;
     color: red;
     position: relative;
     left: 40px;
 }
 
 .menu_list1>div.content5>span:nth-child(2) {
     width: 45px;
     height: 25px;
     color: red;
     position: relative;
     left: 50px;
 }
 
 .menu_list1>div.content6>span:nth-child(2) {
     width: 45px;
     height: 25px;
     color: green;
     position: relative;
     left: 50px;
 }
 /*two*/
 
 .menu_list2>div {
     color: #F7F6FB;
     font-size: 13px;
 }
 
 .menu_list2>div.content1 {
     position: absolute;
     left: 20px;
     top: 45px;
 }
 
 .menu_list2>div.content1>span:nth-child(2) {
     position: relative;
     left: 90px;
 }
 
 .menu_list2>div.content2 {
     position: absolute;
     left: 10px;
     top: 90px;
 }
 
 .menu_list2>div.content2>span:nth-child(2) {
     position: relative;
     font-size: 12px;
     right: -5px;
 }
 
 .menu_list2>div.content3 {
     position: absolute;
     left: 10px;
     top: 140px;
 }
 
 .menu_list2>div.content3>span:nth-child(2) {
     position: relative;
     font-size: 12px;
     right: -10px;
 }
 
 .menu_list2>div.content4 {
     position: absolute;
     left: 140px;
     top: 90px;
 }
 
 .menu_list2>div.content4>span:nth-child(2) {
     position: relative;
     font-size: 12px;
     right: -5px;
 }
 
 .menu_list2>div.content5 {
     position: absolute;
     left: 140px;
     top: 140px;
 }
 
 .menu_list2>div.content5>span:nth-child(2) {
     position: relative;
     font-size: 12px;
     right: -5px;
 }
 /*three*/
 
 .menu_list3>div {
     position: absolute;
     color: #F7F6FB;
     font-size: 12px;
     left: 20px;
     top: 40px;
     padding-left: 5px;
 }
.menu_list3>div:nth-child(2){
    opacity: 1;
}
.menu_list3>div:nth-child(3){

    display: none;
}
.menu_list3>div:nth-child(4){

     display: none;
}
 
 .menu_list3>div div.content1 {
     top: 26px;
     height: 35px;
     padding-left: 40px;
     font-size: 14px;
     line-height: 25px;
     background: url(../images/index/icons_01_29.png) no-repeat left -1px;
 }
 
 .menu_list3>div div {
     top: 35px;
     padding-left: 5px;
     line-height: 35px;
     background: url(../images/index/circle.png) no-repeat left center;
 }
 
 .menu_list3>div div.content3 {
     top: 50px;

 }
 
 .menu_list3>div div.content4 {
     top: 65px;
 }
 
 .menu_list3 div>span:nth-child(1) {
     padding-left: 10px;
 }
 
 .menu_list3 div>span:nth-child(2) {
     position: absolute;
     left: 190px;
     color: red;
 }
 /*four*/
 
 .menu_list4>div {
     position: relative;
     color: #F7F6FB;
     font-size: 12px;
     left: 20px;
     padding-left: 5px;
     background: url(../images/index/circle.png) no-repeat left center;
 }
 
 .menu_list4>div.content1 {
     left: 10px;
     top: 22px;
     font-size: 14px;
     background: url();
 }
 
 .menu_list4>div.content1>span:nth-child(2) {
     position: absolute;
     left: 150px;
     color: red;
 }
 
 .menu_list4>div.content2 {
     top: 40px;
 }
 
 .menu_list4>div.content3 {
     top: 60px;
 }
 
 .menu_list4>div.content4 {
     top: 80px;
 }
 
 .menu_list4 div>span:nth-child(1) {
     padding-left: 10px;
 }
 
 .menu_list4 div>span:nth-child(2) {
     position: absolute;
     left: 195px;
     color: red;
 }
 
 #summary-map {
     position: absolute;
     width: 930px;
     height: 408px;
     top: 250px;
     left: 220px;
 }
 
 #summary-map > svg {
     transform: rotateX(35deg) rotateZ(8deg);
     position: relative;
     top: -180px!important;
     transform-origin: 50% 50% 0;
     /*filter: url(#map-filter);*/
 }
 
 .summary-map-shadow {}
 
 @keyframes fadeIn {
     0% {
         opacity: 0.1;
         transform: scale(0.1);
     }
     25% {
         opacity: 0.3;
         transform: scale(0.3);
     }
     50% {
         opacity: 0.5;
         transform: scale(0.5);
     }
     75% {
         opacity: 0.8;
         transform: scale(0.7);
     }
     100% {
         opacity: 1;
         transform: scale(1);
     }
 }
 
 #shadow {
     position: absolute;
     top: 62%;
     left: 44%;
     width: 100px;
     height: 100px;
     border: 1px solid white;
     opacity: 0;
     border-radius: 50%;
     /*animation: fadeIn 8s linear 1s forwards;*/
 }
 
 @keyframes shadowIn {
     0% {
         opacity: 0.1;
         transform: scale(0.1);
     }
     25% {
         opacity: 0.3;
         transform: scale(0.3);
     }
     50% {
         opacity: 0.5;
         transform: scale(0.5);
     }
     75% {
         opacity: 0.8;
         transform: scale(0.7);
     }
     100% {
         opacity: 1;
         transform: scale(1);
     }
 }
