 * {
     margin: 0;
     padding: 0;
 }

 html{
    background-color: black;
 }
 
 body {
    position: relative;
    margin: 0 auto;
    width: 1377px;
    height: 768px;
    font: "微软雅黑" 12px;
    background: url(../images/index/bg.png) no-repeat;
    overflow: hidden;
 }
 ul,ol{
    list-style: none;
 }
 .hidden{
    display: none;
 }

 .earth{
    background: url(../images/index/earth.png) no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    width: 1377px;
    height: 100vh;
    z-index: 1;
    opacity: 0;
 }
 
 #header {
     position: relative;
     z-index: 1;
     width: 100%;
     height: 49px;
     background: url(../images/index/index_header.png) no-repeat;
     line-height: 49px;
     opacity: 0;
 }

 #header .control{
    position: absolute;
    right: 11px;
    top: 15px;
    padding: 5px;
 }
 
 .header_content {
     color: #44D0CD;
     font-size: 1em;
 }
 
 .header_center {
     width: 100px;
     margin: 0 auto;
     text-align: center;
     padding-top: 10px;
     font-size: 1.1em;
 }
 
 .header_left {
     float: left;
     margin-left: 50px;
 }
 
 .header_right {
     float: right;
     margin-right: 60px;
 }
 
 .content {
     position: relative;
     z-index: 10;
 }
 
 #menu {
     position: relative;
     /*left: 0px;*/
     width: 1277px;
     margin: 20px auto 0px;
     list-style: none;
     padding-top: 20px;
     /*opacity: 1;*/
     /*overflow: hidden;*/
     /*animation: right2left 10s linear 1s forwards;*/
 }
 
 @keyframes right2left {
     0% {
         opacity: 0.1;
         left: 100%;
     }
     25% {
         left: 80%;
         opacity: 0.3;
     }
     50% {
         left: 60%;
         opacity: 0.5;
     }
     75% {
         left: 30%;
         opacity: 0.8;
     }
     100% {
         left: 0px;
         opacity: 1;
     }
 }
 
 .menu_list {
     position: relative;
     float: left;
     width: 402px;
     height: 185px;
     background: url(../images/index/index_01.png) no-repeat;
     margin-right: 35px;
 }
 
 .menu_list2 {
     width: 257px;
     background: url(../images/index/index_02.png) no-repeat;
 }
 
 .menu_list3 {
     width: 257px;
     background: url(../images/index/index_03.png) no-repeat;
 }
 
 .menu_list4 {
     width: 256px;
     background: url(../images/index/index_04.png) no-repeat;
     margin-right: 0;
 }
 
 .menu_list>span {
     position: relative;
     left: 50%;
     color: #F7F6FB;
     font-size: 0.9em;
     margin-left: -35px;
     padding-left: 15px;
     background: url(../images/index/icons_01_13.png) no-repeat left center;
 }
 
 .menu_list2>span {
     padding-left: 20px;
     margin-left: -30px;
     background-image: url(../images/index/icons_01_19.png)
 }
 
 .menu_list3>span {
     margin-left: -30px;
     background-image: url(../images/index/icons_01_16.png)
 }
 
 .menu_list4>span {
     margin-left: -65px;
     background-image: url(../images/index/icons_01_22.png)
 }
 
 .menu_list1>div {
     position: absolute;
     color: #CEC5D8;
     font-size: 14px;
     width: 30%;
 }
 
 .menu_list1>div.content1 {
     left: 20px;
     top: 45px;
 }
 
 .menu_list1>div.content2 {
     left: 150px;
     top: 45px;
 }
 
 .menu_list1>div.content3 {
     left: 280px;
     top: 45px;
 }
 
 .menu_list1>div.content4 {
     left: 12px;
     top: 120px;
     padding-bottom: 40px;
 }
 
 .menu_list1>div.content5 {
     left:150px;
     top: 120px;
     background: url(../images/index/icons_01_36.png) no-repeat left 30px;
 }
 .menu_list1>div.content6 {
     left: 280px;
     top: 120px;
     background: url(../images/index/icons_01_40.png) no-repeat left 30px;
 }
 
 .menu_list1>div>span {
     display: block;
     padding-bottom: 10px;
 }
 
 .menu_list1>div.content4>span:nth-child(2) {
     width: 45px;
     height: 25px;
     color: red;
     position: relative;
     left: 40px;
 }
 
 .menu_list1>div.content5>span:nth-child(2) {
     width: 45px;
     height: 25px;
     color: red;
     position: relative;
     left: 50px;
 }
 .menu_list1>div.content6>span:nth-child(2) {
     width: 45px;
     height: 25px;
     color: green;
     position: relative;
     left: 50px;
 }


 /*two*/
 
 .menu_list2>div {
     color: #F7F6FB;
     font-size: 13px;
 }
 
 .menu_list2>div.content1 {
     position: absolute;
     left: 20px;
     top: 45px;
 }
 
 .menu_list2>div.content1>span:nth-child(2) {
     position: relative;
     left: 90px;
 }
 
 .menu_list2>div.content2 {
     position: absolute;
     left: 10px;
     top: 90px;
 }
 
 .menu_list2>div.content2>span:nth-child(2) {
     position: relative;
     font-size: 12px;
     right: -5px;
 }
 
 .menu_list2>div.content3 {
     position: absolute;
     left: 10px;
     top: 140px;
 }
 
 .menu_list2>div.content3>span:nth-child(2) {
     position: relative;
     font-size: 12px;
     right: -10px;
 }
 
 .menu_list2>div.content4 {
     position: absolute;
     left: 140px;
     top: 90px;
 }
 
 .menu_list2>div.content4>span:nth-child(2) {
     position: relative;
     font-size: 12px;
     right: -5px;
 }
 
 .menu_list2>div.content5 {
     position: absolute;
     left: 140px;
     top: 140px;
 }
 
 .menu_list2>div.content5>span:nth-child(2) {
     position: relative;
     font-size: 12px;
     right: -5px;
 }
 /*three*/
 
 .menu_list3>div {
     position: relative;
     color: #F7F6FB;
     font-size: 12px;
     left: 20px;
     background: url(../images/index/circle.png) no-repeat left center;
     padding-left: 5px;
 }
 
 .menu_list3>div.content1 {
     top: 16px;
     height: 35px;
     padding-left: 40px;
     font-size: 14px;
     background: url(../images/index/icons_01_29.png) no-repeat left -1px;
 }
 
 .menu_list3>div.content2 {
     top: 30px;
 }
 
 .menu_list3>div.content3 {
     top: 45px;
 }
 
 .menu_list3>div.content4 {
     top: 60px;
 }
 
 .menu_list3 div>span:nth-child(1) {
     padding-left: 10px;
 }
 
 .menu_list3 div>span:nth-child(2) {
     position: absolute;
     left: 190px;
     color: red;
 }
 /*four*/
 
 .menu_list4>div {
     position: relative;
     color: #F7F6FB;
     font-size: 12px;
     left: 20px;
     padding-left: 5px;
     background: url(../images/index/circle.png) no-repeat left center;
 }
 
 .menu_list4>div.content1 {
     left: 10px;
     top: 22px;
     font-size: 14px;
     background: url();
 }
 
 .menu_list4>div.content1>span:nth-child(2) {
     position: absolute;
     left: 150px;
     color: red;
 }
 
 .menu_list4>div.content2 {
     top: 40px;
 }
 
 .menu_list4>div.content3 {
     top: 60px;
 }
 
 .menu_list4>div.content4 {
     top: 80px;
 }
 
 .menu_list4 div>span:nth-child(1) {
     padding-left: 10px;
 }
 
 .menu_list4 div>span:nth-child(2) {
     position: absolute;
     left: 195px;
     color: red;
 }
 
 #summary-map {
     position: absolute;
     width: 930px;
     height: 408px;
     top: 250px;
     left: 220px;
 }

#summary-map > svg{
    transform: rotateX(35deg) rotateZ(8deg);
    position: relative;
    top: -180px!important;
    transform-origin: 50% 50% 0;
    /*filter: url(#map-filter);*/
}

.summary-map-shadow{

}
 
 @keyframes fadeIn {
     0% {
         opacity: 0.1;
         transform: scale(0.1);
     }
     25% {
         opacity: 0.3;
         transform: scale(0.3);
     }
     50% {
         opacity: 0.5;
         transform: scale(0.5);
     }
     75% {
         opacity: 0.8;
         transform: scale(0.7);
     }
     100% {
         opacity: 1;
         transform: scale(1);
     }
 }
 
 #shadow {
     position: absolute;
     top: 62%;
     left: 44%;
     width: 100px;
     height: 100px;
     border: 1px solid white;
     opacity: 0;
     border-radius: 50%;
     /*animation: fadeIn 8s linear 1s forwards;*/
 }
 
 @keyframes shadowIn {
     0% {
         opacity: 0.1;
         transform: scale(0.1);
     }
     25% {
         opacity: 0.3;
         transform: scale(0.3);
     }
     50% {
         opacity: 0.5;
         transform: scale(0.5);
     }
     75% {
         opacity: 0.8;
         transform: scale(0.7);
     }
     100% {
         opacity: 1;
         transform: scale(1);
     }
 }




 /*===============================================================================================*/
 /*售电量情况*/
 
 #sale .left {
     position: absolute;
     width: 560px;
     height: 560px;
     left: 408px;
     top: 80px;
 }
 
 #sale .right {
     position: absolute;
     left: 770px;
 }

 #halo {
     position: absolute;
     width: 606px;
     height: 606px;
     border-radius: 50%;
     top: -23px;
     left: -23px;
     opacity: 0;
     background: url(../images/sale/mirror.png) no-repeat;
 }

 #circle {
    position: absolute;
     width: 560px;
     height: 560px;
     border-radius: 50%;
     top: 0;
     left: 1px;
 }
 
 #sale_map {
     position: absolute;
     width: 560px;
     height: 560px;
     border-radius: 50%;
     top: 0;
     left: 0;
     overflow: hidden;
     transform: translateZ(0);
 }

 #sale_map > svg{
    overflow: hidden;
    position: relative;
    transform-origin: 50% 50%;
    top: -32px!important;
    left: -81px!important;
    transform: scale(0.65);
 }

 #sale_tip_wrap{
    position: absolute;
    left: 0;
    top: 0;
 }

 #sale_tip_wrap .area_tip{
     position: absolute;
     left: 280px;
     top: 280px;
  }
 
  #sale_tip_wrap .line {
     position: absolute;
     width: 0;
     /*width: 102px;*/
     height: 64px;
     background: url(../images/sale/line2.png) no-repeat;
     bottom: 0;
     left: 0;
     overflow: hidden;
     transform: rotateX(180deg)
 }
 /*具体地市的三项指标*/
  
  #sale_tip_wrap .line_content {
     position: absolute;
     width: 257px;
     height: 157px;
     left: 92px;
     top: -80px;
     background: url(../images/sale/frame3.png) no-repeat;
     overflow: hidden;
     opacity: 0;
 }

 #sale_list {
    position: relative;
     list-style: none;
     margin-top: 60px;
 }
 
 #sale_list>li {
     position: relative;
     width: 269px;
     height: 350px;
     float: left;
     background: url(../images/sale/frame1.png) no-repeat;
     margin-top: 10px;
     margin-right: 10px;
 }
 
 #sale_list>li span.title {
     position: absolute;
     left: 50%;
     top: 2%;
     margin-left: -18%;
     padding-left: 20px;
     background: url(../images/index/icons_01_19.png) no-repeat left center;
     color: #F9F3F7;
     font-size: 13px;
 }
 
 #sale_list>li:nth-child(2) span.title {
     margin-left: -19%;
     padding-left: 14px;
     background-image: url(../images/index/icons_01_22.png);
 }
 
 #sale_list>li:nth-child(3) {
     width: 545px;
     height: 204px;
     margin-top: 20px;
     background-image: url(../images/sale/frame2.png);
 }
 
 #sale_list>li:nth-child(3) span.title {
     margin-left: -9%;
     top: 4%;
     padding-left: 14px;
     background-image: url(../images/index/icons_01_22.png);
 }
 
 .sale_order {
    position: absolute;
    left: 10px;
    top: 50px;
    list-style: none;
    width: 100%;
    height: 100%;
    color: white;
    font-size: 12px;
 }
 .sale_order li{
    line-height: 35px;
    overflow: hidden;
 }
  .sale_order li>span:nth-child(1) {
     float: left;
     margin-left: 10px;
 }
  .sale_order li>span:nth-child(2) {
    float: right;
    margin-right: 35px;
 }

#zzl>li{
    float: left;
    width: 50%;
}

.first{
    color: yellow;
}
.second{
    color:green;
}
.third{
    color:blue;
}


/*局部地图呈现  mini_map*/
#sale_mini_map{
    position: absolute;
     width: 585px;
     height: 590px;
     border-radius: 50%;
     top: 68px;
     left: 40px;
     background: url(../images/sale/map.png) no-repeat;
}
#sale_mini_map .line{
        position: absolute;
        width: 53px;
        height: 50px;
        background: url(../images/sale/line1.png) no-repeat;
        top: 230px;
        left:420px;
    }
    #sale_mini_map .line2{
        width: 102px;
        height: 64px;
        background-image: url(../images/sale/line2.png);
        top: 340px;
        left: 320px;
    }
    #sale_mini_map .line3{
        width: 162px;
        height: 125px;
        background-image: url(../images/sale/line3.png);
        top: 140px;
        left: 130px;
    }
    /*具体地市的三项指标*/
    #sale_mini_map .sale_content{
        position: absolute;
        width: 257px;
        height: 157px;
        background: url(../images/sale/frame4.png) no-repeat;
        left: 350px;
        top: 82px;
    }
    #sale_mini_map .content2{
        left: 410px;
        top: 320px;
    }
    #sale_mini_map .content3{
        left: -100px;
        top: 50px;
    }
    .sale_content>span{
        position: absolute;
        top: 30px;
        left: 20px;
        color: yellow;
        font-size: 14px;
        background: url(../images/sale/ICON4.png) no-repeat left center;
        padding: 10px 10px 10px 50px;
    }

    #sale_mini_map .sale_content ul{
        position: absolute;
        left: 20px;
        top: 75px;
        width: 100%;
        height: 100%;
        color: white;
        font-size: 13px;
    }
    #sale_mini_map .sale_content ul li{
        line-height: 30px;
        padding-left: 15px;
        background: url(../images/sale/circle.png) no-repeat left center;
        overflow: hidden;
    }
     #sale_mini_map .sale_content ul li span:nth-child(1){
        float: left;
     }
     #sale_mini_map .sale_content ul li span:nth-child(2){
        float: right;
        margin-right: 50px;
     }

     #sale_list_map{
        margin-top: 40px;
        opacity: 0;
    }
    #sale_list_map li{
        position: relative;
        width: 545px;
        height: 204px;
        background: url(../images/sale/frame2.png) no-repeat;
        margin-right: 40px;
        margin-top: 10px;
    }
    #sale_list_map li span.title{
        position: absolute;
        left: 50%;
        top: 4%;
        margin-left: -11%;
        padding-left:20px;
        background:url(../images/index/icons_01_19.png) no-repeat left center;
        color: #F9F3F7;
        font-size: 13px;
    }
    #sale_list_map li:nth-child(2) span.title{
        margin-left: -12%;
        padding-left:14px;
        background-image: url(../images/index/icons_01_22.png);
    }
    #sale_list_map li:nth-child(3) span.title{
        margin-left: -14%;
        padding-left:14px;
        background-image: url(../images/index/icons_01_22.png);
    }
    #sale_list_map .sale_list_data{
        position: absolute;
        left: -4%;
        /*top: 18%;*/
        color: white;
    }