#predict .viewport{
	position: relative;
	width: 1200px;
	height: 350px;
	background-image: url("../images/forest/bg.png");
	margin: 50px 88px;
	background-position: -6px -4px;
}
/*#forest-pie{
	position: absolute;
	top: 20px;
	right: 100px;
	width: 400px;
	height: 300px;
}*/

#forest{
	width: 1200px;
	height: 350px;
	
}

.text{
	color: #00fcff;
	font-size: 9px;
	min-width: 100px;
	height: 0;
	overflow: hidden;
}

#forest >*{
	opacity: 0;
	transform-origin: center center;
}

#forest >svg, #forest .points{
	opacity: 1;
}

#forest >.line{
	opacity: 1;
	display: none
}

.input-ele{
	position: absolute;
	left: 35px;
	top: 231px;
	width: 100px;
	height: 100px;
	background-image: url("../images/forest/input.png");
	transform-origin: center center;
}

.input-forest{
	position: absolute;
	left: 35px;
	top: 36px;
	width: 100px;
	height: 100px;
	background-image: url("../images/forest/input.png");
	transform-origin: center center;
}

.input-ele-title{
	position: absolute;
	left: 35px;
	top: 231px;
	width: 100px;
	height: 100px;
	line-height: 100px;
	font-size: 16px;
	color: #fff;
	text-align: center;
}

.input-forest-title{
	position: absolute;
	left: 35px;
	top: 36px;
	width: 100px;
	height: 100px;
	line-height: 100px;
	font-size: 16px;
	color: #fff;
	text-align: center;
}

#forest .line0{
	position: absolute;
	/*width: 57px;*/
	width: 1px;
	height: 78px;
	left: 84px;
	top: 144px;
	background: url("../images/forest/line.png");
}


.origin-outer{
	position: absolute;
	width: 176px;
	height: 183px;
	left: 158px;
	top: 93px;
	background: url("../images/forest/origin-outer.png");
}

.origin-md{
	position: absolute;
	width: 215px;
	height: 226px;
	left: 143px;
	top: 65px;
	background: url("../images/forest/origin-md.png");
}


.origin-inner{
	position: absolute;
	width: 128px;
	height: 128px;
	left: 182px;
	top: 120px;
	background: url("../images/forest/origin-inner.png");
}

.origin-title{
	position: absolute;
	width: 128px;
	height: 128px;
	left: 182px;
	top: 120px;
	text-align: center;
	line-height: 128px;
	font-size: 20px;
	color: #f9f2a5;
}

.text3{
	position: absolute;
	width: 23px;
	height: 18px;
	left: 314px;
	top: 94px;
	background: url("../images/forest/text3.png");
}

.line1{
	position: absolute;
	width: 80px;
	height: 160px;
	left: 347px;
	top: 104px;
	background: url("../images/forest/line1.png");
}

.sample1{
	position: absolute;
	width: 79px;
	height: 85px;
	left: 449px;
	top: 61px;
	background: url("../images/forest/sample.png");
	font-size: 16px;
	line-height: 85px;
	text-align: center;
	color: #fff;
}

.sample2{
	position: absolute;
	width: 79px;
	height: 85px;
	left: 449px;
	top: 221px;
	background: url("../images/forest/sample.png");
	font-size: 16px;
	line-height: 85px;
	text-align: center;
	color: #fff;
}

.points{
	position: absolute;
	width: 2px;
	height: 0;
	/*height: 35px;*/
	left: 487px;
	top: 166px;
	background: url("../images/forest/points.png");
}

.aa,.aa-cp{
	position: absolute;
	width: 48px;
	height: 48px;
	left: 644px;
	top: 40px;
	background: url("../images/forest/aa.png");
}

.aa2,.aa2-cp{
	position: absolute;
	width: 48px;
	height: 48px;
	left: 644px;
	top: 197px;
	background: url("../images/forest/aa.png");
}


.bb,.bb-cp{
	position: absolute;
	width: 48px;
	height: 48px;
	left: 644px;
	top: 122px;
	background: url("../images/forest/bb.png");
}

.cc,.cc-cp{
	position: absolute;
	width: 48px;
	height: 48px;
	left: 644px;
	top: 279px;
	background: url("../images/forest/cc.png");
}

.line-01{
	position: absolute;
	width: 81px;
	height: 121px;
	left: 703px;
	top: 64px;
	background: url("../images/forest/line-01.png");
}

.line-02{
	position: absolute;
	width: 81px;
	height: 1px;
	left: 703px;
	top: 221px;
	background: url("../images/forest/line-02.png");
}

.result-outer{
	position: absolute;
	width: 140px;
	height: 150px;
	left: 794px;
	top: 119px;
	background: url("../images/forest/result-outer.png");
}

.result-md{
	position: absolute;
	width: 100px;
	height: 100px;
	left: 814px;
	top: 149px;
	background: url("../images/forest/result-md.png");
}

.result-inner{
	position: absolute;
	width: 64px;
	height: 64px;
	left: 832px;
	top: 167px;
	background: url("../images/forest/result-inner.png");
}

.result-title{
	position: absolute;
	width: 64px;
	height: 64px;
	left: 832px;
	top: 167px;
	line-height: 64px;
	text-align: center;
	font-size: 24px;
	color: #f9f2a5;
}
.result-block{
	position: absolute;
	width: 181px;
	height: 192px;
	left: 985px;
	top: 94px;
	background: url("../images/forest/result-block.png")
}

#forest .text1{
	position: absolute;
	/*height: 15px;*/
	left: 140px;
	top: 45px;
	color: #00fcff;
	/*background: url("../images/forest/text1.png");*/
}

#forest .text2{
	position: absolute;
	/*height: 34px;*/
	left: 147px;
	top: 292px;
	/*background: url("../images/forest/text2.png");*/
}
